@import "tailwindcss";

@theme {
  --color-yellow: #fff600;
  --color-blue: #1619af;
  --color-orange: #ff4d20;
  --color-cyan: #57fff1;
  --color-green: #84e192;
}

:root {
  --font-family-primary: "Darker Grotesque", sans-serif;
}

body {
  font-family: var(--font-family-primary);
}
